.cards{
    display: flex;
    margin-left: 2em;
    margin-top: 1%;
    margin-bottom: 10%;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 1em;
    height: 0%;
    cursor: default;
}

.detail{
    display: flex;
    position: absolute;
    margin-left:40%;
    margin-top: 5%;
    flex-direction: row;
    height: 100%;
    border-radius: 15px;
    flex-wrap: wrap;
    font-size: large;
    font-family:"Gill Sans", sans-serif;
    cursor: default;
}